body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ddd;
}
.jumbotron {
	margin: 0;
}

.jumbotron img {
	float: left;
	margin: 0 20px 0 0; 
}

.error {
    color: #b94a48;
    font-weight: normal;
}

.hide {
	display: none;
}

.social {
	width: 64px;
	height: 64px;
    display: inline-block;
    float: none;
}

.social-section {
	width: 90%;
    padding: 15px;
    margin: 0 auto;
    text-align: center
}

.form-section
{
    width: 90%;
    padding: 15px;
    margin: 0 auto;
}
.form-section .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-section .checkbox
{
    font-weight: normal;
}
.form-section .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-section .form-control:focus
{
    z-index: 2;
}
.form-section input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-section input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 20px 0 20px 0;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}