mixin jumbotron(headerText, iconFile)
	.container
		.jumbotron
			if (iconFile) 
				img(src="#{iconFile}").left
			else
				img(src="/img/PassBoot.png").left
			h1 #{headerText}
			p(id="tagline") Welcome, pardner, to this here Bootstrap, Jade, Express, Passport round up!
	script.
		$(document).ready(function () {
			var taglineText = [ "Bootstrap", "Jade", "Express", "Node", "Passport" ];

			var interval = setInterval(function () {
				console.log("Tick: " + taglineText);
				taglineText.unshift(taglineText.pop());
				$("#tagline").text("Welcome, pardner, to this here " + taglineText.join(", ") + " round up!");
			}, 5000);
		});
